div.fixed-finish-and-save-toolbar
   .pull-right(ng-click='save()')
      button.btn.btn-small.btn-save-and-finish(
            ng-show='shouldShowSaveButton()'
            ng-disabled='saveInProgress')
         | Save and share

section.pitch-editor(
         data-applies-branding,
         data-branding-type='editor-viewer')

   .pitch-component(
         data-base-component,
         ng-repeat='component in components',
         ng-switch='component.type')

      aside.control-buttons.fade.btn-group.btn-group-vertical(
            ng-class='{"in": inEditMode}')
         a.btn.btn-large.btn-link.btn-remove(
               ng-click='removeComponentAt($index)')
            | &times;
         a.btn.btn-large.btn-link.visible-desktop(
               ng-click='addComponentAfter($index)')
            | +

      div.component-body.placeholder-component-body(
            ng-switch-when='null',
            ng-click='handleComponentClick(component)',
            data-index='{{$index}}',
            data-is-first='{{$first}}',
            data-type='{{component.type}}',
            class='{{getComponentClasses(component)}}')

      div.component-body.placeholder-component-body(
            ng-switch-when='placeholder',
            ng-click='handleComponentClick(component)',
            data-index='{{$index}}',
            data-is-first='{{$first}}',
            data-type='{{component.type}}',
            class='{{getComponentClasses(component)}}')

      div.component-body.image-component-body(
            ng-switch-when='document',
            ng-click='handleComponentClick(component)',
            data-index='{{$index}}',
            data-is-first='{{$first}}',
            data-type='{{component.type}}',
            class='{{getComponentClasses(component)}}')
         {{component.name}}

      div.component-body.image-component-body(
            ng-switch-when='image',
            ng-click='handleComponentClick(component)',
            data-index='{{$index}}',
            data-is-first='{{$first}}',
            data-type='{{component.type}}',
            class='{{getComponentClasses(component)}}')

      div.component-body.text-component-body.modal-body(
            ng-switch-when='text',
            ng-click='handleComponentClick(component)',
            data-index='{{$index}}',
            data-is-first='{{$first}}',
            data-type='{{component.type}}',
            class='{{getComponentClasses(component)}}')
         {{component.content}}

   .pitch-component.flip-container.vertical.col-divide-2.row-scale-1(
         data-tap-to-add-component
         ng-show='inEditMode')
      .flipper
         .front
         .back

div(data-component-edit-modal)
