div.fixed-finish-and-save-toolbar
   .pull-right(ng-click='save()')
      button.btn.btn-small.btn-save-and-finish(
            ng-show='shouldShowSaveButton()'
            ng-disabled='saveInProgress')
         | Finish

section.pitch-editor(
         data-applies-branding,
         data-branding-type='editor-viewer')

   .pitch-component(
         data-base-component,
         ng-repeat='component in components',
         ng-switch='component.type')

      aside.control-buttons.fade.btn-group.btn-group-vertical(
            ng-class='{"in": inEditMode}')
         a.btn.btn-large.btn-link.btn-remove(
               ng-click='removeComponentAt($index)')
            | &times;
         a.btn.btn-large.btn-link.visible-desktop(
               ng-click='addComponentAfter($index)')
            | +

      //- here come the visual representations of components (aka. chunks)

      .component-body.placeholder-component-body(
            ng-switch-when='null',
            data-index='{{$index}}',
            data-is-first='{{$first}}',
            data-type='{{component.type}}',
            class='{{getComponentClasses(component)}}')

      .component-body.loading-component-body(
            ng-switch-when='loading'
            class='{{getComponentClasses(component)}}')
         .loading-spinner
         p: small getskewer.com

      .component-body.text-component-body(
            data-applies-adaptive-font-sizing
            data-max-font-size='11'
            data-max-font-size='28'
            ng-switch-when='text',
            data-index='{{$index}}',
            data-is-first='{{$first}}',
            data-type='{{component.type}}',
            class='{{getComponentClasses(component)}}')
         {{component.content}}

      .component-body.contact-details-component-body(
            data-author-contact-details-footer-label
            data-applies-adaptive-font-sizing
            data-max-font-size='11'
            data-max-font-size='28'
            ng-switch-when='contact-details',
            data-index='{{$index}}',
            data-is-first='{{$first}}',
            data-type='{{component.type}}',
            class='{{getComponentClasses(component)}}')

      .component-body.image-component-body(
            ng-switch-when='image',
            data-index='{{$index}}',
            data-is-first='{{$first}}',
            data-type='{{component.type}}',
            class='{{getComponentClasses(component)}}')

      .component-body.image-component-body.document-component-body(
            ng-switch-when='document',
            data-index='{{$index}}',
            data-is-first='{{$first}}',
            data-type='{{component.type}}',
            class='{{getComponentClasses(component)}}')
         {{component.name}}

   .pitch-component.flip-container.vertical.col-divide-2.row-scale-1(
         data-tap-to-add-component
         ng-show='inEditMode')
      .flipper
         .front
         .back

   aside.author-contact-details-footer-label.visible-phone
      span {{contactCompanyName}}

aside.author-contact-details-footer-label.fixed-to-bottom.hidden-phone
   span {{contactCompanyName}}
