div.modal-body.clearfix

   .well.modal-body(style='text-align: center')
      h2.modal-body(style='font-size: 2rem;')
         | Your URL to share

      h3.well.modal-body
         span(ng-show='!shareUrl', loading-spinner, data-spinner-size='29')
         a(ng-show='shareUrl', href='{{shareUrl}}', target='_blank')
            | {{shareUrl}}

      .modal-body
         iframe#twitter-widget-0.twitter-share-button.twitter-tweet-button.twitter-count-none(
            ng-show='shareUrl',
            scrolling='no',
            frameborder='0',
            allowtransparency='true',
            src='{{getTwitterTweetButtonSrc()}}',
            title='Twitter Tweet Button',
            data-twttr-rendered='true',
            style='width: 76px; height: 28px;')
         script#twitter-wjs(src='http://platform.twitter.com/widgets.js')
         script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
