div.opportunities-list-view
   // This div is only displayed in deskcops (see below for mobile phones)
   .hidden-phone
      div(style='float: left')
         div(style='margin-bottom: 10px;')
            input.search-query(type='text', ng-model='searchTerm', placeholder='Search')
            p.btn.btn-primary(ng-click='doSearch(searchString)')
               |  Go

      table.table(width='80%')
         thead
            tr
               th Name
               th Stage
               th Probability
               th Owner
         tbody
            tr(ng-repeat='opportunity in opportunities')
               td
                  a.pull-left(
                        href='#/skewer/{{opportunity.Id}}/{{giRoomId}}'
                        ng-click='selectOpportunity(opportunity)')
                     | {{opportunity.Name}}
                  span.pull-right(ng-switch='opportunity.isLoading'): span(
                     ng-switch-when='true'
                     data-loading-spinner
                     data-spinner-size='16')
               td {{opportunity.StageName}}
               td {{opportunity.Probability}}
               td {{opportunity.Owner.Name}}

   // This div is only displayed in mobile phones (see above for desktops)
   .visible-phone(ng-class='{"slide":isLoading}')
      h3.list-page-header Opportunities

      //- form.form-inline
         input.input-medium.search-query(type='text', ng-model='searchTerm', placeholder='Search')
         button.btn.btn-primary(ng-click='doSearch(searchString)')
            | Go

      table.table.responsive-item-list-table
         tr(ng-click='doView(opportunity.Id)', ng-repeat='opportunity in opportunities')
            td: a.pull-left(
                  href='#/skewer/{{opportunity.Id}}/{{giRoomId}}'
                  ng-click='selectOpportunity(opportunity)')
               | {{opportunity.Name}}

   .loading-component-body(ng-switch='isLoading')
      span(ng-switch-when='true')
         .loading-spinner
         p: small Almost there
