section.modal.modal-adjust-component.hide.fade(
      tabindex='-1',
      role='dialog',
      aria-labelledby='myModalLabel',
      aria-hidden='true')

   header.modal-header.hidden-phone
      | {{component.type || 'New'}} Component
      button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;

   .modal-body(
         ng-class='{"showing-slide-2": choosingType || !component.type, "showing-slide-3": choosingContent}')
      .slide
         hr
         .adjustments-block
            label Change content
            ul.component-adjustment-buttons.btn-group.twosie
               li.btn.btn-link.btn-large(
                     ng-click='showChooseTypeList()')
                  i.fa.fa-magic
                  | Choose type

               li.btn.btn-link.btn-large(
                     ng-click='doAndShowEditContentSlide()'
                     ng-disabled='component.type == "placeholder" || !component.type')
                  i.fa.fa-pencil
                  | Edit content

         hr
         .adjustments-block
            label Size adjustment
            ul.component-adjustment-buttons.btn-group.threesie
               li.btn.btn-link.btn-large(
                     ng-click='doAndClose(extendRow)'
                     ng-disabled='component.rowScale >= 8')
                  i.fa.fa-expand
                  | Extend down

               li.btn.btn-link.btn-large(
                     ng-click='doAndClose(reduceRow)'
                     ng-disabled='component.rowScale <= 1')
                  i.fa.fa-compress
                  | Reduce up

               li.btn.btn-link.btn-large(
                     ng-click='doAndClose(setRowToDefault)'
                     ng-disabled='component.rowScale == 1')
                  i.fa.fa-undo
                  | Make default

         hr
         .adjustments-block
            label Column span
            ul.component-adjustment-buttons.btn-group.twosie
               li.btn.btn-link.btn-large(
                     ng-click='doAndClose(splitColumn)'
                     ng-disabled='component.colDivide >= 2')
                  i.fa.fa-indent
                  | Squeeze back

               li.btn.btn-link.btn-large(
                     ng-click='doAndClose(mergeColumn)'
                     ng-disabled='component.colDivide <= 1')
                  i.fa.fa-outdent
                  | Stretch over

      .slide
         hr
         .adjustments-block.content-type-selection
            label Select a content type
            ul.component-adjustment-buttons.btn-group.btn-group-vertical
               li.btn.btn-link.btn-large.btn-block-level(
                     ng-click='doAndClose(setType("placeholder"))'
                     ng-class='{"active-type": component.type == "placeholder" || !component.type}')
                  | Placeholder

               li.btn.btn-link.btn-large.btn-block-level(
                     ng-click='doAndShowEditContentSlide(setType("document"))'
                     ng-class='{"active-type": component.type == "document"}')
                  | Document content

               li.btn.btn-link.btn-large.btn-block-level(
                     ng-click='doAndShowEditContentSlide(setType("text"))'
                     ng-class='{"active-type": component.type == "text"}')
                  | Text content

               li.btn.btn-link.btn-large.btn-block-level(
                     ng-click='doAndShowEditContentSlide(setType("image"))'
                     ng-class='{"active-type": component.type == "image"}')
                  | Image content

               li.btn.btn-link.btn-large.btn-block-level(
                     ng-click='doAndShowEditContentSlide(setType("carousel"))'
                     ng-class='{"active-type": component.type == "carousel"}')
                  | Multiple images (carousel)

      .slide
         hr
         .adjustments-block.content-type-selection
            label Choose some content

            aside.loading-spinner-container(ng-hide='availableContentItems')

            ul.component-adjustment-buttons.btn-group.btn-group-vertical(
                  ng-show='availableContentItems')
               li.btn.btn-link.btn-large.btn-block-level(
                     ng-repeat='(key, value) in availableContentItems'
                     ng-click='doAndClose(setContentAndLinkHref(value.id, value.name, value.content, value.linkHref))')
                  | {{value.name}}
